/* Utils and Reset*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Gochi Hand", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
a {
  text-decoration: none;
}

/*HOME LAYOUT*/
.wrapper {
  min-height: 100vh;
  background-color: rgb(22, 22, 22);
}
.backgroung-img {
  min-height: 100vh;
  background-image: url("database1.png");
}
.home-container {
  text-align: center;
  padding: 200px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.black-container {
  background-color: black;
  padding: 40px;
  border-radius: 20px;
}
.home-title {
  margin: 40px 0px;
  font-size: 4.5rem;
  color: white;
}
.btn-link {
  margin: 20px 0px;
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid white;
  text-align: center;
  color: white;
  cursor: pointer;
}
.btn-link:hover {
  background-color: rgba(107, 13, 13, 0.678);
}

.link-gamePage {
  font-size: 1.7rem;
  text-transform: none;
  text-decoration: none;
  color: white;
}

/* DEFAULT LAYOUT*/

/*HEADER*/
header {
  background-color: rgb(22, 22, 22);
}
.title {
  padding: 30px 0px;
  color: white;
  font-size: 3rem;
}
/*MAIN*/
.main-content {
  min-height: 100vh;
}
.singleNum {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 17px;
  border: 1px solid white;
  border-radius: 100%;
  margin: 10px;
}
.num {
  font-size: 1.5rem;
}
/*FOOTER*/
.footer {
  color: white;
  padding: 20px 0px;
}
